body{
	font-family: "Avenir";
	line-height: 1.5;
}

footer, .jumbotron {
	background-color: rgb(60, 60, 60);
	color: whitesmoke;
}

.jumbotron {

	h1 {
		font-family: 'Holtwood One SC', serif;
		font-size: 2.5em;
	}
	img {
		max-height: 90px;
	}

	.sm-hidden {
		display: none;
	}

	.headerInput{
		width: 400px;
		margin: auto;
	}

	form button {
		border: none;
		background-color: inherit;
	}
}

#catalog {
	text-align: center;
	img {
		max-height: 140px;
		max-width: 100%;
	}
}

#searchButton {
	opacity: 0.7;
	width: 40px;
}

#searchButton:hover {
	opacity: 1;
}

.unstyled, .unstyled:hover {
	text-decoration: none;
	color: inherit;
}


.beer-image:hover, .beer-header:hover  {
	opacity: 0.8;
	cursor: pointer;
}


@media screen and (max-width:437px) {
	.jumbotron{
		.d-flex p {
			display: none;
		}

		.d-flex div, .d-flex h1 {
			width: 180px;
		}

		.sm-hidden{
			display: block;
		}
		.headerInput{
			width: 90%
		}
	}
	#searchButton{
		width: 50px;
		position: fixed;
		bottom: 10px;
		right: 10px;
	}

}

@media screen and (min-width:767px) {
	.beer-item .text-left{
		max-height: 400px;
		overflow-y:auto;
		}
}
